[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = learning
[access "refs/*"]
	owner = group user/junnu85 (arjungunda)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/junnu85 (arjungunda)
	label-Verified = -1..+1 group user/junnu85 (arjungunda)
	push = group user/junnu85 (arjungunda)
	read = group user/junnu85 (arjungunda)
	rebase = group user/junnu85 (arjungunda)
	removeReviewer = group user/junnu85 (arjungunda)
	submit = group user/junnu85 (arjungunda)
[access "refs/heads/*"]
	create = group user/junnu85 (arjungunda)
	push = +force group user/junnu85 (arjungunda)
	pushMerge = group user/junnu85 (arjungunda)
	read = group user/junnu85 (arjungunda)
[access "refs/tags/*"]
	push = group user/junnu85 (arjungunda)
	push = +force group user/junnu85 (arjungunda)
